// Load Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

// colors
$offwhite:    rgb(255, 255, 255);
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         red;
$purple:      #6D73C2;

//color usage
$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

//font usage
$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$font-title: Helvetica;

//breakpoints
$small:		450px;
$medium:	760px;
$large:		1200px;


