@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: Merriweather, Helvetica, sans-serif;
  color: #022933;
  background-color: #EEE8D6; }

.container {
  width: 80%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", Helvetica, sans-serif; }

h1 {
  color: #0076A3; }

h2 {
  color: #6D73C2; }

h3 {
  color: #548C27; }

h4 {
  color: red; }

h5 {
  color: #F39856; }

h6 {
  color: #FFBA00; }
